*~
*.so
#for Hphi 
HPhi
makefile
Makefile
make.sys
*backup*
*cisajs*.dat
*.a
*.aux
*.bbl
*.blg
*.dSYM/
*.dvi
*.log
*.o
*.optrpt
userguide_*.pdf
*.synctex.gz
*.toc
*~
#*
GPATH
GRTAGS
GTAGS
.idea
.DS_Store
cmake-build-debug
*.mod
tool/fourier
tool/corplot
tool/cTPQ

#p4merge
*.orig
*.doctree
docs/ja/build/latex/*.png
docs/ja/build/latex/*.xbb
docs/ja/build/latex/*.sty
docs/ja/build/latex/*.cls
docs/ja/build/latex/HPhi++.fdb_latexmk
docs/ja/build/latex/HPhi++.fls
docs/ja/build/latex/HPhi++.idx
docs/ja/build/latex/HPhi++.ilg
docs/ja/build/latex/HPhi++.ind
docs/ja/build/latex/HPhi++.log
docs/ja/build/latex/HPhi++.out
docs/ja/build/latex/HPhi++.tex
docs/ja/build/latex/HPhi++.toc
docs/ja/build/latex/latexmkjarc
docs/ja/build/latex/latexmkrc
docs/ja/build/latex/python.ist
