*~
*.so
HPhi++
*backup*
*cisajs*.dat
*.a
*.aux
*.bbl
*.blg
*.dSYM/
*.dvi
*.log
*.o
*.optrpt
userguide_*.pdf
*.synctex.gz
*.toc
*~
#*
GPATH
GRTAGS
GTAGS
.idea
.DS_Store
cmake-build-debug
*.mod
tool/fourier
tool/corplot
tool/cTPQ
*.orig
*.doctree
docs/ja/build/latex/*.png
docs/ja/build/latex/*.xbb
docs/ja/build/latex/*.sty
docs/ja/build/latex/*.cls
docs/ja/build/latex/HPhi++.fdb_latexmk
docs/ja/build/latex/HPhi++.fls
docs/ja/build/latex/HPhi++.idx
docs/ja/build/latex/HPhi++.ilg
docs/ja/build/latex/HPhi++.ind
docs/ja/build/latex/HPhi++.out
docs/ja/build/latex/HPhi++.tex
docs/ja/build/latex/HPhi++.toc
docs/ja/build/latex/latexmkjarc
docs/ja/build/latex/latexmkrc
docs/ja/build/latex/python.ist
docs/en/build/latex/*.png
docs/en/build/latex/*.xbb
docs/en/build/latex/*.sty
docs/en/build/latex/*.cls
docs/en/build/latex/HPhi++.fdb_latexmk
docs/en/build/latex/HPhi++.fls
docs/en/build/latex/HPhi++.idx
docs/en/build/latex/HPhi++.ilg
docs/en/build/latex/HPhi++.ind
docs/en/build/latex/HPhi++.out
docs/en/build/latex/HPhi++.tex
docs/en/build/latex/HPhi++.toc
docs/en/build/latex/latexmkjarc
docs/en/build/latex/latexmkrc
docs/en/build/latex/python.ist
docs/en/build/latex/Makefile
docs/ja/build/latex/Makefile
