matrix:
  include:
  - language: c++
    sudo: enabled
    before_install:
      - sudo apt-get update
      - sudo apt-get install -y gfortran liblapack-dev cmake
      - pip install numpy --user
    install:
      - mkdir build
      - cd build
    script:
      #- cmake ../ -DCMAKE_CXX_FLAGS="-std=c++11"
      #- make
      #- export OMP_NUM_THREADS=1
      #- make test
      #- rm -r test
      #- make
      #- export OMP_NUM_THREADS=3
      #- make test
      #- rm -r *
      - sudo apt-get install -y libopenmpi-dev openmpi-bin
      - cmake ../ -DCMAKE_CXX_FLAGS="-std=c++11" -DCMAKE_BUILD_TYPE="Debug"
      - make
      - export OMP_NUM_THREADS=1
      - ctest -R lobcg_spingc_honey
      - cat Testing/Temporary/LastTest.log
      - cd test/lobcg_spingc_honey/
      - sudo apt-get install -y gdb
      - gdb --ex run --args ../../src/HPhi++ -s stan.in
      #- make test MPIRUN="mpiexec -np 4"
      #- rm -r test
      #- make
      #- export OMP_NUM_THREADS=3
      #- make test MPIRUN="mpiexec -np 4"
      #- rm -r test
      #- make
      #- export OMP_NUM_THREADS=1
      #- make test MPIRUN="mpiexec -np 16"
      #- rm -r test
      #- make
      #- export OMP_NUM_THREADS=3
      #- make test MPIRUN="mpiexec -np 16"
  - os: osx
    language: c++
    sudo: enabled
    before_install:
      - brew update
      - brew install gcc || true
      - brew link --overwrite gcc
      - brew install lapack
      - export FC=gfortran;
    install:
      - mkdir build
      - cd build
      #- export CC=/usr/local/bin/gcc-8
    script:
      - cmake ../ -DCMAKE_CXX_FLAGS="-std=c++11"
      - make
      - export OMP_NUM_THREADS=1
      - make test
      #- rm -r test
      #- make
      #- export OMP_NUM_THREADS=3
      #- make test
      #- rm -r *
      #- brew install open-mpi
      #- cmake ../ -DCMAKE_CXX_FLAGS="-std=c++11"
      #- make
      #- export OMP_NUM_THREADS=1
      #- MPIRUN="mpiexec -np 4" ctest -V
      #- rm -r test
      #- make
      #- export OMP_NUM_THREADS=3
      #- MPIRUN="mpirun -np 4" ctest -V
      #- rm -r test
      #- make
      #- export OMP_NUM_THREADS=1
      #- make test MPIRUN="mpiexec -np 16"
      #- rm -r test
      #- make
      #- export OMP_NUM_THREADS=3
      #- make test MPIRUN="mpiexec -np 16"
